## olist_orders_dataset

In [86]:
# Import Libraries
import pandas as pd
import numpy as np
import sqlalchemy as db 
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
# create a dataframe from csv file
orders = pd.read_csv('C:\\Users\\Abhirami\\Desktop\\JDE-Final Project\\olist_orders_dataset.csv')

In [88]:
#Display the first few rows of the datase
orders.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [89]:
#Information about the dataset
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [92]:
# Checking percentage of missing value in each data
round((orders.isnull().sum()/len(orders)*100),2)

order_id                         0.00
customer_id                      0.00
order_status                     0.00
order_purchase_timestamp         0.00
order_approved_at                0.16
order_delivered_carrier_date     1.79
order_delivered_customer_date    2.98
order_estimated_delivery_date    0.00
dtype: float64

In [93]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [69]:
orders[['order_status']].value_counts()

order_status
delivered       96478
shipped          1107
canceled          625
unavailable       609
invoiced          314
processing        301
created             5
approved            2
Name: count, dtype: int64

In [70]:
# Count the number of order_id values where order_status is "delivered"
num_delivered_orders = orders[orders['order_status'] == 'delivered']['order_id'].nunique()

print(f"Number of orders marked as delivered: {num_delivered_orders}")

Number of orders marked as delivered: 96478

In [42]:
# Filter the DataFrame for delivered orders with a valid order_delivered_customer_date
delivered_with_timestamp = orders[(orders['order_status'] == 'delivered') & orders['order_delivered_customer_date'].notna()]

# Count the number of order IDs for delivered orders with a valid order_delivered_customer_date
delivered_count = delivered_with_timestamp['order_id'].nunique()

# Count the number of order IDs for not delivered orders (considering all orders)
total_orders = orders['order_id'].nunique()
not_delivered_count = total_orders - delivered_count

print(f"Number of order IDs with order_status as delivered and a valid order_delivered_customer_date: {delivered_count}")
print(f"Number of order IDs with order_status as not delivered: {not_delivered_count}")

Number of order IDs with order_status as delivered and a valid order_delivered_customer_date: 96470
Number of order IDs with order_status as not delivered: 2971

In [43]:
# Filter the DataFrame for orders with a date in the order_delivered_customer_date column and order_status as not delivered
not_delivered_with_timestamp = orders[(orders['order_status'] != 'delivered') & orders['order_delivered_customer_date'].notna()]

# Count the number of order IDs for not delivered orders with a valid order_delivered_customer_date
not_delivered_count = not_delivered_with_timestamp['order_id'].nunique()

# Count the number of order IDs for delivered orders (considering all orders)
total_orders = orders['order_id'].nunique()
delivered_count = total_orders - not_delivered_count

# Retrieve the data for not delivered orders with a valid order_delivered_customer_date
not_delivered_data = not_delivered_with_timestamp[['order_id', 'order_status', 'order_delivered_customer_date']]

print(f"Number of order IDs with order_status as not delivered and a valid order_delivered_customer_date: {not_delivered_count}")
print(f"Number of order IDs with order_status as delivered: {delivered_count}")
print("Data for not delivered orders with a valid order_delivered_customer_date:")
print(not_delivered_data)

Number of order IDs with order_status as not delivered and a valid order_delivered_customer_date: 6
Number of order IDs with order_status as delivered: 99435
Data for not delivered orders with a valid order_delivered_customer_date:
                               order_id order_status  \
2921   1950d777989f6a877539f53795b4c3c3     canceled
8791   dabf2b0e35b423f94618bf965fcb7514     canceled
58266  770d331c84e5b214bd9dc70a10b829d0     canceled
59332  8beb59392e21af5eb9547ae1a9938d06     canceled
92636  65d1e226dfaeb8cdc42f665422522d14     canceled
94399  2c45c33d2f9cb8ff8b1c86cc28c11c30     canceled

      order_delivered_customer_date
2921            2018-03-21 22:03:51
8791            2016-10-16 14:36:59
58266           2016-10-14 15:07:11
59332           2016-10-19 18:47:43
92636           2016-11-08 10:58:34
94399           2016-11-09 14:53:50

In [44]:
# Filter the DataFrame for orders with order_status as "delivered" and order_delivered_customer_date as null
delivered_without_customer_date = orders[(orders['order_status'] == 'delivered') & orders['order_delivered_customer_date'].isnull()]

# Print the order_id values for orders with order_status as "delivered" but don't have order_delivered_customer_date
order_ids_delivered_without_customer_date = delivered_without_customer_date['order_id'].unique()

print("Order IDs for orders with order_status as 'delivered' but don't have order_delivered_customer_date:")
for order_id in order_ids_delivered_without_customer_date:
    print(order_id)

# Count the number of records
num_records = delivered_without_customer_date.shape[0]
print(f"Number of records: {num_records}")

Order IDs for orders with order_status as 'delivered' but don't have order_delivered_customer_date:
2d1e2d5bf4dc7227b3bfebb81328c15f
f5dd62b788049ad9fc0526e3ad11a097
2ebdfc4f15f23b91474edf87475f108e
e69f75a717d64fc5ecdfae42b2e8e086
0d3268bad9b086af767785e3f0fc0133
2d858f451373b04fb5c984a1cc2defaf
ab7c89dc1bf4a1ead9d6ec1ec8968a84
20edc82cf5400ce95e1afacc25798b31
Number of records: 8

In [94]:
orders.shape

(99441, 8)

In [83]:
# import missingno as msno 
# import matplotlib.pyplot as plt
# # Visualize missingness 
# msno.matrix(orders) 
# plt.show()

In [95]:
#Identify duplicates
print(orders.duplicated().sum())

0

In [96]:
# function pd.to_datetime to convert type date columns from object to datetime64
orders['order_purchase_timestamp']=pd.to_datetime(orders['order_purchase_timestamp'])
orders['order_approved_at']=pd.to_datetime(orders['order_approved_at'])
orders['order_delivered_carrier_date']=pd.to_datetime(orders['order_delivered_carrier_date'])
orders['order_delivered_customer_date']=pd.to_datetime(orders['order_delivered_customer_date'])
orders['order_estimated_delivery_date']=pd.to_datetime(orders['order_estimated_delivery_date'])

In [97]:
# find the average of the time between purchase_timestamp ( not any null) with delivered_carrier.
orders_data_1=orders[orders['order_delivered_carrier_date'].notnull()]

miss_carrier=(orders_data_1['order_purchase_timestamp']-orders_data_1['order_delivered_carrier_date']).mean()
miss_carrier #we name it: miss_carrier

Timedelta('-4 days +18:22:58.055807')

In [98]:
# caculate missing time by minus of order_purchase_timestamp and miss_carrier, which caculated above
added_date=orders[orders['order_delivered_carrier_date'].isnull()]['order_purchase_timestamp'] - miss_carrier
added_date

6       2017-04-14 17:59:09.944193
103     2018-08-06 23:21:43.944193
128     2017-09-06 19:59:04.944193
266     2017-11-19 20:46:29.944193
324     2016-10-09 04:21:14.944193
                   ...
99283   2018-09-03 21:50:45.944193
99313   2018-01-09 04:44:25.944193
99347   2018-09-10 00:22:48.944193
99348   2017-08-26 22:05:05.944193
99415   2017-10-13 16:27:04.944193
Name: order_purchase_timestamp, Length: 1783, dtype: datetime64[ns]

In [99]:
#replace missing values by the new ones.
orders['order_delivered_carrier_date'].fillna(added_date, inplace=True)
# Check for any remaining missing values in the DataFrame
missing_values = orders.isnull().sum()
missing_values

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date        0
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [100]:
# find the average of the time between purchase_timestamp ( not any null) with delivered_customer_date.
orders_data_2=orders[orders['order_delivered_carrier_date'].notnull()]

mean_deliver=(orders_data_1['order_purchase_timestamp']-orders_data_1['order_delivered_customer_date']).mean()
mean_deliver #we name it: mean_deliver

Timedelta('-13 days +10:36:03.848706919')

In [101]:
# caculate missing time by minus of order_purchase_timestamp and mean_deliver, which caculated above
added_date=orders[orders['order_delivered_customer_date'].isnull()]['order_purchase_timestamp'] - mean_deliver
added_date

6       2017-04-24 01:46:04.151293081
44      2018-06-17 06:08:44.151293081
103     2018-08-16 07:08:38.151293081
128     2017-09-16 03:45:59.151293081
154     2018-01-23 00:57:03.151293081
                     ...
99283   2018-09-13 05:37:40.151293081
99313   2018-01-18 12:31:20.151293081
99347   2018-09-19 08:09:43.151293081
99348   2017-09-05 05:52:00.151293081
99415   2017-10-23 00:13:59.151293081
Name: order_purchase_timestamp, Length: 2965, dtype: datetime64[ns]

In [102]:
# replace missing values by the new ones.
orders['order_delivered_customer_date'].fillna(added_date, inplace=True)
# Check for any remaining missing values in the DataFrame
missing_values = orders.isnull().sum()
missing_values

order_id                           0
customer_id                        0
order_status                       0
order_purchase_timestamp           0
order_approved_at                160
order_delivered_carrier_date       0
order_delivered_customer_date      0
order_estimated_delivery_date      0
dtype: int64

In [104]:
# Filter the DataFrame where order_status is "delivered", order_approved_at is missing, and order_delivered_customer_date is present
filtered_df = orders[(orders['order_status'] == 'delivered') & (orders['order_approved_at'].isnull()) & (~orders['order_delivered_customer_date'].isnull())]

# Get the number of order_id for the filtered DataFrame
num_orders = filtered_df['order_id'].nunique()

print("Number of order_id for order_status as 'delivered', no data for order_approved_at, and order_delivered_customer_date is present:", num_orders)

Number of order_id for order_status as 'delivered', no data for order_approved_at, and order_delivered_customer_date is present: 14

In [105]:
#because the number of missing is too small compared to the amount of rows. So drop it
orders.dropna(inplace=True)

In [106]:
#There are no-missing values in any column of DataFrame orders_data
orders.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [107]:
print(orders.dtypes)

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [27]:
# # Convert datetime columns to datetime data type
# datetime_columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
# orders[datetime_columns] = orders[datetime_columns].apply(pd.to_datetime)

# # Verify the changes
# print(orders.dtypes)

In [84]:
# Convert datetime columns to date format without time
date_columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
for col in date_columns:
    orders[col] = orders[col].dt.strftime('%Y-%m-%d')

# Verify the changes
print(orders)

                               order_id                       customer_id  \
0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2      47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3      949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4      ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
...                                 ...                               ...
99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00
99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7
99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24

      order_status order_purchase_timestamp order_approved_at  \
0        delivered               2017-10-02        2017-10-02
1        delivered               2018-07-24        2018-07-26
2        delivered               2018-08-08        2018-08-08
3        delivered               2017-11-18        2017-11-18
4        delivered               2018-02-13        2018-02-13
...            ...                      ...               ...
99436    delivered               2017-03-09        2017-03-09
99437    delivered               2018-02-06        2018-02-06
99438    delivered               2017-08-27        2017-08-27
99439    delivered               2018-01-08        2018-01-08
99440    delivered               2018-03-08        2018-03-09

      order_delivered_carrier_date order_delivered_customer_date  \
0                       2017-10-04                    2017-10-10
1                       2018-07-26                    2018-08-07
2                       2018-08-08                    2018-08-17
3                       2017-11-22                    2017-12-02
4                       2018-02-14                    2018-02-16
...                            ...                           ...
99436                   2017-03-10                    2017-03-17
99437                   2018-02-07                    2018-02-28
99438                   2017-08-28                    2017-09-21
99439                   2018-01-12                    2018-01-25
99440                   2018-03-09                    2018-03-16

      order_estimated_delivery_date
0                        2017-10-18
1                        2018-08-13
2                        2018-09-04
3                        2017-12-15
4                        2018-02-26
...                             ...
99436                    2017-03-28
99437                    2018-03-02
99438                    2017-09-27
99439                    2018-02-15
99440                    2018-04-03

[99281 rows x 8 columns]

In [85]:
# Extract date, month, and year
orders['order_purchase_timestamp'] = pd.to_datetime(orders['order_purchase_timestamp'])
#orders['order_purchase_date'] = orders['order_purchase_timestamp'].dt.date
orders['order_purchase_month'] = orders['order_purchase_timestamp'].dt.month_name()
orders['order_purchase_year'] = orders['order_purchase_timestamp'].dt.year
orders['order_purchase_day'] = orders['order_purchase_timestamp'].dt.day_name()
print(orders.head())

                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp order_approved_at  \
0    delivered               2017-10-02        2017-10-02
1    delivered               2018-07-24        2018-07-26
2    delivered               2018-08-08        2018-08-08
3    delivered               2017-11-18        2017-11-18
4    delivered               2018-02-13        2018-02-13

  order_delivered_carrier_date order_delivered_customer_date  \
0                   2017-10-04                    2017-10-10
1                   2018-07-26                    2018-08-07
2                   2018-08-08                    2018-08-17
3                   2017-11-22                    2017-12-02
4                   2018-02-14                    2018-02-16

  order_estimated_delivery_date order_purchase_month  order_purchase_year  \
0                    2017-10-18              October                 2017
1                    2018-08-13                 July                 2018
2                    2018-09-04               August                 2018
3                    2017-12-15             November                 2017
4                    2018-02-26             February                 2018

  order_purchase_day
0             Monday
1            Tuesday
2          Wednesday
3           Saturday
4            Tuesday

## olist_products_dataset

In [120]:
# create a dataframe from csv file

products = pd.read_csv('C:\\Users\\Abhirami\\Desktop\\JDE-Final Project\\olist_products_dataset.csv')

In [109]:
print(products.head())

                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

In [110]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [111]:
# Checking percentage of missing value in each data
round((products.isnull().sum()/len(products)*100),2)

product_id                    0.00
product_category_name         1.85
product_name_lenght           1.85
product_description_lenght    1.85
product_photos_qty            1.85
product_weight_g              0.01
product_length_cm             0.01
product_height_cm             0.01
product_width_cm              0.01
dtype: float64

In [112]:
products.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [114]:
products.shape

(32951, 9)

In [122]:
#Check for duplicates rows
len(products.drop_duplicates())

32951

In [125]:

# Fill missing values in product_category_name column with "uncategorized" only where it's null
products.loc[products['product_category_name'].isnull(), 'product_category_name'] = 'uncategorized'
# List of columns to fill with "NAN"
columns_to_fill = ['product_name_lenght', 'product_description_lenght', 
                   'product_photos_qty', 'product_weight_g', 
                   'product_length_cm', 'product_height_cm', 
                   'product_width_cm']

# Fill missing values in specified columns with "NAN"
products[columns_to_fill] = products[columns_to_fill].fillna("NaN")

In [126]:
products.isnull().sum()

product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [41]:
# Remove rows with missing values
#products.dropna(inplace=True)

### Merge tables-products and product_category_name_translation

In [127]:
# create a dataframe from csv file

products = pd.read_csv('C:\\Users\\Abhirami\\Desktop\\JDE-Final Project\\olist_products_dataset.csv')

In [128]:
# create a dataframe from csv file
product_category_name_translation = pd.read_csv('C:\\Users\\Abhirami\\Desktop\\JDE-Final Project\\product_category_name_translation.csv')
product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [87]:
print(productnames_eng.head())

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [129]:
product_category_name_translation.shape

(71, 2)

In [130]:
product_category_name_translation.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [133]:
#Extract the  matching translation word from nametranslation to into a new column into products

products['translated_eng'] = products['product_category_name'].map(product_category_name_translation.set_index('product_category_name')['product_category_name_english'])
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,translated_eng
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [134]:
# Get the current index of the column
current_index = products.columns.get_loc("translated_eng")

# Remove the column from its current position and insert it at index 1
column = products.pop("translated_eng")
products.insert(1, "translated_eng", column)
products.head()

,product_id,translated_eng,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [135]:
products.isnull().sum()

product_id                      0
translated_eng                623
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [136]:
# Fill missing values in product_category_name column with "uncategorized" only where it's null
products.loc[products['product_category_name'].isnull(), 'product_category_name'] = 'uncategorized'
products.loc[products['translated_eng'].isnull(), 'translated_eng'] = 'uncategorized'
# List of columns to fill with "NAN"
columns_to_fill = ['product_name_lenght', 'product_description_lenght', 
                   'product_photos_qty', 'product_weight_g', 
                   'product_length_cm', 'product_height_cm', 
                   'product_width_cm']

# Fill missing values in specified columns with "NAN"
products[columns_to_fill] = products[columns_to_fill].fillna("NaN")

In [137]:
products.isnull().sum()

product_id                    0
translated_eng                0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64